body {
    background-image: url(https://i.imgur.com/kYW2H5C.jpg);
}

.downloadH4 {
    font-size: 23px;
    animation: neon 4s infinite;
    vertical-align: bottom;
    margin-top: 85px;
}

.bottomText{
    font-size: 24px;
    padding-bottom: 0px;
    margin-top: 5px;
    

}

:root {
    --shadow-color: rgb(0, 255, 55);
    --shadow-color-light:rgb(0, 255, 55);
  }

  p {
    /* margin: calc(50vh - 40px) auto 0 auto; */
    margin-top: 4px;
    /* margin-bottom: -20px; */
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    /* display: inline; */
    /* height: auto; */
    padding-bottom: -9px;
    text-align: center;
  }
  
  .logo-1 {
    color: rgb(0, 0, 0);
    animation: neon 3s infinite;
  }
  
  hr {
    border: 6px solid #000000;
    border-radius: 30px;
    box-shadow: 0 0 5px 1px rgb(0, 255, 55);
    /* margin: 0 auto; */
    position: relative;
    width: 90%;
    margin-top: 200px;
  }
  hr:after {
    -webkit-animation: kitt 2.2s infinite ease-in-out alternate;
            animation: kitt 2.2s infinite ease-in-out alternate;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px red;
    content: '';
    position: absolute;
    height: 8px;
    top: -4px;
    width: 2%;
  }
  @-webkit-keyframes kitt {
    0% {
      border-radius: 30px;
      opacity: .4;
      -webkit-transform: scale(1);
              transform: scale(1);
      width: 1%;
    }
    10% {
      width: 2.5%;
    }
    25% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    50% {
      border-radius: 0;
      opacity: 1;
      -webkit-transform: scale(1.7);
              transform: scale(1.7);
      width: 4%;
    }
    75% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    90% {
      width: 2.5%;
    }
    100% {
      border-radius: 30px;
      margin-left: 99%;
      opacity: .4;
      -webkit-transform: scale(1);
              transform: scale(1);
      width: 1%;
    }
  }
  @keyframes kitt {
    0% {
      border-radius: 30px;
      opacity: .4;
      -webkit-transform: scale(1);
              transform: scale(1);
      width: 1%;
    }
    10% {
      width: 2.5%;
    }
    25% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    50% {
      border-radius: 0;
      opacity: 1;
      -webkit-transform: scale(1.7);
              transform: scale(1.7);
      width: 4%;
    }
    75% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    90% {
      width: 2.5%;
    }
    100% {
      border-radius: 30px;
      margin-left: 99%;
      opacity: .4;
      -webkit-transform: scale(1);
              transform: scale(1);
      width: 1%;
    }
  }

  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }